.HomePage{
    position: relative;
}

.HomeCallNow {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  z-index: 1000;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  animation: pulse 3s infinite;
}
.HomeCallNow img{
    width: 60px;
    height: 60px;
}

.HomeCallNow:hover {
  transform: scale(1.1);
}

.HomeCallLink{
    text-decoration: none;
}


@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(97, 94, 252,0.7);
  }
  20% {
    transform: scale(1.1);
    box-shadow: 0 0 0 15px rgba(97, 94, 252, 0);
  }
  40% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(97, 94, 252, 0);
  }
  100% {
    transform: scale(1);
    box-shadow: none;
  }
}
